- unless @tenders.empty?
  - @tenders.each do |t|
    %div{:class => ".span16 load-indicator", :id => "load-indicator-container-#{t.id}"}
      = image_tag "load_indicator.gif"
    .tender-wrapper{:id => "tender-wrapper-#{t.id}"}
      = render :partial => "tender", :locals => {:tender => t}
- else
  %div{:class => "alert-message warning", :id => 'tenders-scraped-msg' }
    %p No new tenders!