.container
  .row
    %span{:class => "span8" }
      %blockquote
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        %small Dr. Julius Hibbert
    %span{:class => "span8" }
      %blockquote
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        %small Dr. Julius Hibbert