= tenders_url(:format => :xml)
#tender-container{"data-json-url" => tenders_url(:format => :json)}
  - unless @tenders.empty?
    - @tenders.each do |t|
      = render :partial => "tender", :locals => {:tender => t}
  - else
    %p No new tenders!