form {
  div.inline-inputs 
  {
    display:block;
    clear:both;
    
    div.clearfix 
    {
      display:inline-block;
      float:left;
            
      input, label
      {
        display:inline-block;
        float:left;
      }      
    }
    
    div.clearfix:nth-child(2)
    {
      div.input 
      {
        margin-left:60px;
      } 
      label
      {
        width:50px;
      } 
    }
  }
  
  div.clearfix 
  {
    margin-bottom: 5px;
  }
    
  label 
  {
    padding-top: 0px;
  }
    
  legend.form_legend 
  {
  }
    
  fieldset.hidden_legend 
  {
    padding-top: 0px;
    legend 
    {
      display:none;   
    }
  }
}

#load-indicator-container 
{
  text-align:center;
  display:none;
}

#tenders-scraped-msg
{
  text-align:center;
  p 
  {
    font-weight:bold;
  }
}